.root {
    -fx-base:white;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: #beb4fa;
    -fx-pressed-base: derive(-fx-base, -8%);
    -fx-box-border: #5bc0de;
    -fx-text-box-border: #5bc0de;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: #777;
    -fx-selection-bar-non-focused: -fx-pressed-base;
}

.background {
    -fx-background-color: -fx-base;
}

.button {
    /*-fx-padding: 5 22 5 22;*/
    -fx-border-width: 0;
    -fx-background-radius: 5px;
    -fx-background-color: #337ab7;


    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(#337ab7,30%);
    -fx-cursor: hand;
}

.roundedButton{
	-fx-background-radius: 5em;
}


.tool-bar{
	-fx-background-color:linear-gradient(#424254 20%,derive(#424254,20%) 80%);
}

.tab{
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: rgb(255,255,255);

}

.tab:hover{
	-fx-cursor: hand;
	-fx-font-size: 13pt;
}


.tool-bar .stack-pane{
	-fx-border-width: 1px;
	-fx-border-style: solid ;
	-fx-border-radius: 3px;
	-fx-border-color: transparent;
}

.tool-bar .stack-pane:hover{
	-fx-border-color: #69D2E7;
	-fx-opacity: 0.8;
	-fx-cursor: hand ;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill:#434355;
    -fx-opacity: 1;
}
.label-header-28 {
    -fx-font-size: 28pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}

.label-header-side {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}

.label-header-18 {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}

.label-header-16 {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}

/*Menu principal */
.menuPrincipal{}
.menuPrincipal:hover{
	-fx-border-color: #69D2E7;
	-fx-opacity: 0.6;
	-fx-cursor: hand ;
}

.contextButton{
	-fx-background-color: white;
	-fx-text-fill: black ;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-width:1;
    -fx-border-color: #B9B9B9 ;
    -fx-background-color:-fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 0.333333em 0.083333em 0.333333em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.contextButton:hover{
	-fx-text-fill: white ;
	-fx-background-color: derive(#337ab7,30%);
    -fx-cursor: hand;
	-fx-border-width:1;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-border-color: #B9B9B9 ;
    -fx-padding: 0.333333em 0.083333em 0.333333em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}



/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-17%),
            derive(-fx-color,-30%)
        ),
        -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 0.333333em 0.083333em 0.333333em 0.083333em; /* 4 1 8 1 */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-box-border transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}
.context-menu > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
}
.context-menu > .scroll-arrow:hover {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
.context-menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.opcion{
	-fx-font-size: 20pt;
    -fx-font-family: "Georgia, serif";
    -fx-text-fill: #337ab7;
    -fx-opacity: 1;
}

.opcion:hover{
	-fx-font-size: 21pt;
    -fx-font-family: "Georgia, serif";
    -fx-text-fill: #337ab7;
    -fx-opacity: 0.8;
    -fx-cursor: hand ;
}

.opcionTextDown{

}

.tree-view{
	-fx-background-color: #eee;
}

.tree-view, .tree-cell {
    -fx-background-color: #eee;
    -fx-text-fill: black ;
}

.tree-cell:expanded, .tree-cell:sub-tree-item {

}

.tree-cell:selected {
    -fx-text-fill: white ;
    -fx-font-weight: bold;
    -fx-background-color: #5cb85c;
}

.treeview-nodoRaiz {
    -fx-text-fill: #333;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}

.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.campo{
	-fx-font-weight: bold;
}

.tree-cell:hover:filled {
  /*-fx-background-color: #E5F3FB ;*/
-fx-background-color: #5cb85c;
  -fx-text-fill: white ;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.tree-view:hover > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected{
	-fx-background-color: #5cb85c;
  -fx-text-fill: white ;
}

.tree-cell:active {
  /*-fx-background-color: #CBE8F6 ;*/
  -fx-background-color:#5cb85c;
}


.SortableList:hover{

}

.tooltip {
    -fx-background-color: -fx-hover-base, rgba(30, 30, 30, 0.8);
    -fx-background-radius: 6px, 5px;
    -fx-background-insets: 0, 1;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}

.text-input {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        derive(-fx-base,-1%);
}
.text-area > .scroll-pane {
    -fx-background-color: null;
}
.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}
.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}
.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}
.text-area .content {
    /*the is 1px less top and bottom than TextInput because of scrollpane border */
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
    -fx-cursor: text;
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}
.text-area:focused .content {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 0, 2;
    -fx-background-radius: 2, 1, 0;
}



.scroll-pane{
	-fx-box-border: transparent;
}

.sinBorde{
	-fx-box-border: transparent;
}

.sinBordeSuperior{
	-fx-box-border: transparent;
}

.split-pane:horizontal > .split-pane-divider {
	-fx-border-color: #5bc0de;
	-fx-background-color: #5bc0de;
	 -fx-padding: 0 0.04em 0 0.04em;
}

.split-pane:vertical > .split-pane-divider {
-fx-border-color: #5bc0de;
	-fx-background-color: #5bc0de;
	 -fx-padding: 0 0.04em 0 0.04em;
}
