.root {
    -fx-base: white;
    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: #beb4fa;
    -fx-pressed-base: derive(-fx-base, -8%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
    -fx-selection-bar-non-focused: -fx-pressed-base;
}


.background {
    -fx-background-color: -fx-base;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000;
    -fx-opacity: 0.7;
}

.label-small {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #BEB4FA;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #edf7ff;
    -fx-control-inner-background: #edf7ff;
    -fx-background-color: #edf7ff;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/*
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}
*/
.menu-bar {
    -fx-background-color: derive(#7D96FF,20%);
}

.menu-bar .context-menu {
    -fx-background-color: derive(#7D96FF,20%);
    -fx-border-width: 0.5px;
    -fx-border-color: derive(#7D96FF,20%);
}

.context-menu {
    -fx-background-color: derive(#fFF,20%);
    -fx-border-width: 0.5px;
    -fx-border-color: derive(#7D96FF,20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}


.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #7D96FF;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(#7D96FF,20%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #fff;
}

.button:default:hover {
    -fx-background-color: derive(#7D96FF,20%);
}

.tabPane{
	-fx-border-width: 0px;
}

.tab{
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-width: 0px;
}


.tab-header-area {
	-fx-background-color: transparent;
    -fx-text-box-border: transparent;
}


/*the container, not the label */
.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 15px;
    -fx-border-radius: 0px;
}

/*The region that constains the label */
.tab-pane > .tab-header-area > .headers-region > .tab  > .tab-container{
    -fx-border-width: 0px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-padding: 20px;
    -fx-background-color: red;
    -fx-border-width: 0px;
    -fx-border-color: black;
}

.tab-pane > .tab-header-area > .headers-region >.tab:selected .focus-indicator{
    -fx-border-width: 0px;
}

.tab:hover{
	-fx-background-color: derive( #beb4fa,60%);
	-fx-cursor: hand ;
}

/*.tab:selected{
	-fx-background-color: derive(#beb4fa,30%);
}*/

.tab-pane > .tab-header-area > .headers-region > .tab:selected{
    -fx-background-color: derive(#beb4fa,30%);
}

/********
 * TreeView
 */

.tree-view{
	-fx-border-width: 0px;
}
.tree-view .scroll-bar:horizontal,.tree-view .scroll-bar:vertical{
	-fx-background-color:derive(#beb4fa,20%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;

}

.tree-view .scroll-bar:horizontal:hover .track ,
.tree-view .scroll-bar:horizontal:pressed .track ,
.tree-view .scroll-bar:vertical:hover .track,
.tree-view .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#beb4fa,20%);
     -fx-opacity: 0.2;
     -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */

.tree-view .scroll-bar .thumb:hover,
.tree-view .scroll-bar .thumb:pressed{
    -fx-background-color: derive(#beb4fa,50%);
}

.tree-view .increment-button:hover ,.mylistview .decrement-button:hover {
    -fx-background-color:derive(#beb4fa,100%);
   /* -fx-border-color:derive(#beb4fa,80%);*/
}

.table-view{
	-fx-background-color: #fff;
}

.anchor-pane{
	-fx-border-radius: 15px;
	-fx-background-radius: 5.0;
}


/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/
.split-pane:horizontal > .split-pane-divider{
	-fx-padding: 0 0.01em 0 0.01em;
	-fx-border-width: 0.01em;
}
.split-pane:vertical > .split-pane-divider{
	-fx-padding: 0 0.01em 0 0.01em;
	-fx-border-width: 0.01em;
}

.split-pane:horizontal > .split-pane-divider:pressed {
    -fx-background-color: #beb4fa, white;   -fx-background-insets: 0, 0 1 0 1;
}
.split-pane:vertical > .split-pane-divider:pressed {
    -fx-background-color: #beb4fa, white;
 }

 /*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: #7d96ff;
    -fx-background-insets: 1 1 0 1, 1;
}

/******************************************************************
 *
 *
 * Listview
 */
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}


.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.split-pane > .anchor-pane{
	-fx-background-color: #333;
	-fx-border-radius: 10px;
}

.split-pane > .scroll-pane{
	-fx-border-radius: 10px;
}